# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local Environment Files
.env*.local
.env

# SQLite Database Files
*.db
*.db-journal
*.db-wal
*.db-shm
local.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

.vercel
